secrets.yaml
entity_registry.yaml
known_devices.yaml
docker-compose.yaml
home-assistant.log
home-assistant_v2.db
deps/
.HA_VERSION
.uuid
www/user_one.jpg
www/user_two.JPG
entity_registry.yaml
currentCommit.txt
.google.token
.spotify-token-cache
google_calendars.yaml
turnBarRed.sh

.vscode
out/
