# Homeassistant
secrets.yaml
entity_registry.yaml
known_devices.yaml
known_devices.yaml.bkp
docker-compose.yaml
home-assistant.log
home-assistant_v2.db
deps/
.HA_VERSION
.uuid
.storage/

# custom_components
__pycache__/
 *.pyc

# private stuff
www/facebox/
www/github/
www/user_one.jpg
www/user_two.JPG
currentCommit.txt
.google.token
google_calendars.yaml
turnBarRed.sh
sendNotification.sh
alexa_media*.pickle

# vscode
.vscode
out/

# homeassistant in different repo
appdaemon/
